#cnt{
    display : flex;
    margin : 10px;
    /* flex-direction: column-reverse; */
}

#leftbar{
    background-color : rgb(0, 0, 0);
    height : 300px;
    width : 200px;
    order: 3;
}

#rightbar{
    background-color : rgb(215, 32, 32);
    height : 300px;
    width : 200px;
    order: 1;
}

#start{
    background-color : rgb(27, 124, 180);
    height : 300px;
    width : 200px;
    order: 2;
}