header div:first-child{
    width : 80%;
    padding : 5%;
    background-color : rgb(228, 25, 25);
    margin-top : 50px;
    margin-left : 100px;
    display: flex;
}

header div:nth-child(2){
    width : 15%;
    background-color : rgb(34, 157, 209);
    padding : 8%;
    margin : 100px;
    float : left;
    height: 200px;
    display: flex;
}

header div:nth-child(3){
    width : 47%;
    background-color : rgba(217, 240, 10, 0.888);
    height : 465px;
    margin-left : 100px;
    margin-top : 105px;
    float : left;
    display: flex;
}

header div:nth-child(4){
    width : 86%;
    padding : 2%;
    background-color : rgba(4, 255, 0, 0.717);
    margin-top : 650px;
    margin-left : 100px;
   
   
}
#A{
    border: 10px solid rgb(6, 6, 6);
}