@media screen and (max-width : 900px){
    body{
        background-color : green;
        font-size : 5px;
    }
}

#hd{
    width : 99%;
    height : 5%;
    background-color : rgb(255, 255, 255);
}

#container{
    width : 99%;
    height : 10%;
    background-color : rgb(255, 255, 255);
    display : flex;
}

#menu_01{
    width : 8%;
    height : 75%;
    background-color : rgb(40, 37, 37);
    display : flex;
    position : relative;
    border-radius : 0%;
    top : 10%;
    left : 10%;
    color : white;
    justify-content : center;
    font-size : 200%;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#menu_01:hover{
    background-color : rgb(84, 82, 82);
    color :rgb(150, 145, 145);
}

#menu_02{
    width : 8%;
    height : 75%;
    background-color : rgb(40, 37, 37);
        justify-content : center;
            color : white;
    font-size : 200%;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius : 0%;
    display : flex;
    position : relative;
    top : 10%;
    left : 25%;
}

#menu_02:hover{
       background-color : rgb(84, 82, 82);
         color :rgb(150, 145, 145);
}

#menu_03{
    width : 8%;
    height : 75%;
    background-color : rgb(40, 37, 37);
        justify-content : center;
            color : white;
    font-size : 200%;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display : flex;
    position : relative;
      border-radius : 0%;
    top : 10%;
    left : 40%;
}

#menu_03:hover{
        background-color : rgb(84, 82, 82);
          color :rgb(150, 145, 145);
}

#menu_04{
    width : 8%;
    height : 75%;
    background-color : white;
        border-radius : 0%;
            background-color : rgb(40, 37, 37);
                justify-content : center;
                    color : white;
    font-size : 200%;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display : flex;
    position : relative;
    top : 10%;
    left : 55%;
}

#menu_04:hover{
       background-color : rgb(84, 82, 82);
         color :rgb(150, 145, 145);
}

#left_bar{
    width : 50%;
    height : 75%;
    background-color : rgb(57, 182, 59);
    float : left;
}

#right_bar{
    width : 49%;
    height : 75%;
    background-color : rgb(216, 117, 42);
    float : left;
}

#foot{
    width : 99%;
    height : 10%;
    background-color : rgb(58, 163, 187);
    float : left;
    justify-content : center;
    display : flex;
}

#media_01{
    width : 60px;
    height :60px;
    background-color : rgb(192, 211, 68);
    border-radius : 100%;
    position : relative;
    top : 8%;
        border : 2px solid rgb(0, 0, 0);
}

#ig_01{
        max-width : 60px;
        max-height : 60px;
        border-radius : 100%;
}


#media_02{
    width : 60px;
    height :60px;
    background-color : rgb(175, 213, 62);
    border-radius : 100%;
    position : relative;
      border : 2px solid rgb(0, 0, 0);
    top : 8%;
        margin-left : 10px;
}

#media_03{
    width : 60px;
    height :60px;
    background-color : rgb(190, 213, 19);
    border-radius : 100%;
    position : relative;
      border : 2px solid rgb(0, 0, 0);
    top : 8%;
        margin-left : 10px;
}

#media_04{
    width : 60px;
    height :60px;
    background-color : rgb(190, 215, 27);
    border-radius : 100%;
    position : relative;
    top : 8%;
      border : 2px solid rgb(0, 0, 0);
        margin-left : 10px;
}

#media_01:hover{
    border : 3px solid rgb(255, 254, 254);
}

#media_02:hover{
    border : 3px solid rgb(255, 255, 255);
}

#media_03:hover{
    border : 3px solid rgb(254, 254, 254);
}

#media_04:hover{
    border : 3px solid rgb(255, 255, 255);
}