@media screen and (max-width : 900px){
    body{
        background-color : green;
        font-size : 5px;
    }
}

#hd{
    width : 99%;
    height : 5%;
    background-color : rgb(255, 255, 255);
}

#container{
    width : 99%;
    height : 10%;
    background-color : rgb(255, 255, 255);
    display : flex;
}

#menu_01{
    
    width : 8%;
    height : 75%;
    background-color : rgb(40, 37, 37);
    display : flex;
    position : relative;
    border-radius : 0%;
    top : 1%;
    left : 10%;
    color : white;
    justify-content : center;
    font-size : 200%;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#menu_01:hover{
    background-color : rgb(204, 211, 67);
    color :rgb(75, 74, 61);
}

#menu_02{
    a { color: azure; text-decoration: none; }
    width : 8%;
    height : 75%;
    background-color : rgb(40, 37, 37);
        justify-content : center;
            color : white;
    font-size : 200%;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius : 0%;
    display : flex;
    position : relative;
    top : 1%;
    left : 25%;
}

#menu_02:hover{
    a{
       
         color :rgb(75, 74, 61);}
}

#menu_03{
    width : 8%;
    height : 75%;
    background-color : rgb(40, 37, 37);
        justify-content : center;
            color : white;
    font-size : 200%;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display : flex;
    position : relative;
      border-radius : 0%;
    top : 1%;
    left : 40%;
}

#menu_03:hover{
        background-color : rgb(204, 211, 67);
          color :rgb(75, 74, 61);
}

#menu_04{
    width : 8%;
    height : 75%;
    background-color : white;
        border-radius : 0%;
            background-color : rgb(40, 37, 37);
                justify-content : center;
                    color : white;
    font-size : 200%;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display : flex;
    position : relative;
    top : 1%;
    left : 55%;
}

#menu_04:hover{
       background-color : rgb(204, 211, 67);
         color :rgb(75, 74, 61);
}

#left_bar{
    width : 50%;
    height : 75%;
    background-color : rgb(57, 182, 59);
    float : left;
}

#right_bar{
    width : 49%;
    height : 75%;
    background-color : rgb(216, 117, 42);
    float : left;
}

#foot{
    width : 99%;
    height : 15%;
    background-color : rgb(58, 163, 187);
    float : left;
    justify-content : center;
    display : flex;
}

#media_01{
    width : 60px;
    height :60px;
    
    border-radius : 50%;
    position : relative;
    top : 15%;
   
        
}

#ig_01{
        max-width : 60px;
        max-height : 60px;
        border-radius : 50%;
        
}


#media_02{
    width : 60px;
    height :60px;
   
    border-radius : 50%;
    position : relative;
     
    top : 15%;
        margin-left : 30px;
}
#ig_02{
        max-width : 60px;
        max-height : 60px;
        border-radius : 50%;
}


#media_03{
    width : 60px;
    height :60px;
    
    border-radius : 50%;
    position : relative;
      
    top : 15%;
        margin-left : 30px;
}
#ig_03{
        max-width : 60px;
        max-height : 60px;
        border-radius : 50%;
}

#media_04{
    width : 60px;
    height :60px;
  
    border-radius : 50%;
    position : relative;
    top :15%;
      
        margin-left : 30px;
}
#ig_04{
        max-width : 60px;
        max-height : 60px;
        border-radius : 50%;
}


#media_01:hover{
    border : 5px solid rgb(255, 255, 255);
}

#media_02:hover{
    border : 5px solid rgb(255, 255, 255);
}

#media_03:hover{
    border : 5px solid rgb(255, 255, 255);
}

#media_04:hover{
    border : 5px solid rgb(255, 255, 255);
}