   
/* global */
   nav ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: rgb(39, 197, 218);
        padding: 30px;
    }
    nav ul li{
        list-style: none;
    }
    nav ul li a{
        text-decoration: none;
        cursor: pointer;
        color: black;
    }
    /*  */
    footer{
    margin-top: 360px;
}
/*  home*/
   .CTA button a{
        text-decoration: none;
    }
    .CTA button{
        padding: 20px;
        background: rgb(145, 180, 29);
        box-shadow: 1cap;
    }
    .hero {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .hero img{
        border: 5px solid rgb(0, 0, 0);
    }
    #bck{
        background-color: azure;
    }
/* aboutus page */
.about{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.about div:first-child {
    background: rgb(38, 194, 18);
    width: 50%;
    height: 800px;
}
.about > div:nth-child(2) {
    background: rgb(21, 179, 142);
    width: 100%;
    height:800px;
}

.about > div:nth-child(3) {
    background: blue;
    width: 50%;
    height: 800px;

}
/* contact page */

#pic{
    background: url(background.jpg);
}

#x{
    color : white;
    font-size : 50px;
}
#y{
    color:wheat;
    font-size: 100px;
}
@media screen and (min-width :500px){
    body{
        background :cadetblue;
    }
}